<h1>Returning users can login below:</h1>

<form method="POST" action="/login">
    <p>Username: <input type="username" name="username" /></p><br>
    Password: <input type="password" name="password" >

    <input type="submit" value="login">
</form>
<br>
<p>May all of your manifestations come to fruition.</p>


<%# ActiveRecord allows me to input the type "password" instead of password_digest behind the scenes

#erb files allow us to include regular, old HTML tags AND special erb tags  %>

<%# Substitution Tags: displays /  Inserts the value of an expression <%=  @Words  %>

<%# ## Scripting Tags: only interpolated / Executes code, but does not insert a value   <% @Words %>
