<h1>Returning users can login below:</h1>
<p> </p>
<p> </p>
<form method="POST" action="/login">
    <p>Username: <input type="username" name="username" required/></p><br>
    Password: <input type="password" name="password" required />

    <input type="submit" value="login">
</form>
<br>
<p style="font-size:12pt; color:#00004d;"><a href="/dreams" style="text-decoration: none;">May all of your manifestations come to fruition.</a></p>
