<h1>New user? Make an account below:</h1>

<form method="POST" action="/signup">
   <p> Username: <input name="username" type="username"></p><br>
    Password: <input name="password" type="password">

    <input type="submit" value="signup">
</form>
<br>

<p style="font-size:12pt; color:#00004d;"><a href="/dreams" style="text-decoration: none;">May all of your manifestations come to fruition.</a></p>

<%# #erb files allow us to include regular, old HTML tags AND special erb tags %>

<%# Substitution Tags: displays /  Inserts the value of an expression <%=  @Words  %>

<%# ## Scripting Tags: only interpolated / Executes code, but does not insert a value   <% @Words %>
 