<h3>New user? Make an account below:<h3>

<form method="POST" action="/signup">
    Username:<input name="username" type="username">
    Password:<input name="password_digest" type="password">

    <input type="submit" value="signup">
</form>

<p>May all of your manifestations come to fruition.</p>


#erb files allow us to include regular, old HTML tags AND special erb tags

<%# Substitution Tags: displays /  Inserts the value of an expression <%=  @Words  %>

<%# ## Scripting Tags: only interpolated / Executes code, but does not insert a value   <% @Words %>
 