Show route which allows me to show one dream (writing ~manifestation~)

show title
Show content
show date
add user_id

<h2>These are your manifestations</h2>
<title>Manifestation Title: <%= @dream.title %> </title>
<p>Manifestation Date: <%= @dream.entry_date %> </p>
<>


<%# Substitution Tags: displays /  Inserts the value of an expression <%=  @Words  %>

<%# ## Scripting Tags: only interpolated / Executes code, but does not insert a value   <% @Words %>
